{%extends "base.html" %}

{% block content %}
<h2>Countries</h2>
<br>


<section class='travels'>
    {% for country in countries %}
    <div>
        <p>{{country.name}}</p>
    
        <a href="/countries/{{ country.id }}/edit">Edit</a>

        <form action="/countries/{{country.id}}/delete" method="POST">
            <button type="submit">Remove</button>
        </form>
    </div>
    {% endfor %}
</section>
    <div>
        <img src="" alt="">
    </div>


{% endblock %}
<footer>
</footer>