{%extends "base.html" %}

{% block content %}
<h2>Countries</h2>
<br>


<section class='travels'>
    {% for country in countries %}
    <div>
        <img id='map' src="https://imgc.artprintimages.com/img/print/pink-world-map_u-l-f943ny0.jpg?h=550&p=0&w=550&background=fbfbfb" alt="World Map">
        <h4>{{country.name}}</h4>
    
        <a href="/countries/{{ country.id }}/edit">Edit</a>

        <form action="/countries/{{country.id}}/delete" method="POST">
            <button type="submit">Remove</button>
        </form>
    </div>
    {% endfor %}
</section>

{% endblock %}
<footer>
</footer>