{%extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
{% for city in cities %}

<section class=trips>
    <h4> {{ city.city_name }} </h4>
    
    <p>{{city.country.name}}</p>
   
    <p>{% if city.visited %}
            Visited on {{city.date_of_travel}}
        {% else %}
            Not visited yet, adventure awaits!
        {% endif %}
    </p>
   
    <a href="/cities/{{ city.id }}/edit">Edit</a>
    <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %}