{%extends "base.html" %}

{% block content %}
<h2>Add a New Trip</h2>

<form action="/cities" method = "post">
    <div>
        <label for="city_name">City Name:</label>
        <input type="text" 
                name = "Enter City name" 
                id="Enter City name" 
                placeholder="Enter City name" 
                required 
                autofocus>
    </div>
    <div>
        <label for="country">Country:</label>
        <select name="country_id" id="country">
            {% for country in countries %}
                <option value="{{country.id}}">{{ country.name }}</option>              
            {% endfor %}
        </select>

    </div>
    <div>
        <label for="date_of_travel">Year of Trip:</label>
        <input type="number"
                name="date of travel" 
                id="date of travel"
                placeholder="Date of Travel"
                required>
    </div>
    <div>
        <label for="visited">Visited:</label>
        <select name="visited" id="visited">
            <option value="true">Yes</option>
            <option value="false">Not yet!</option>
        </select>
    </div>
    
    <button type="submit">Add Trip</button>
    
</form>
{% endblock %}