/* id for single elements, class for multiple */
body {
background-image: url(https://images.unsplash.com/photo-1588025632102-aa7acd130f5f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTV8fHBpbmslMjAlMjBza2llc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&q=20);

background-size: cover;
background-repeat: no-repeat;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 1px lightgrey;
}

h1 {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 60px;
}

h2, h3, h5 {
    text-align: center;
    color: rgb(61, 65, 69);
 }
  h6 {
    text-align: center;
    color: slategrey;
}
a, a:link, a:visited {
color: rgb(138, 111, 143);
}

a:hover, a:active {
color: rgb(245, 167, 227);
}

button {
    background-color: rgb(230, 213, 227);
    color: rgb(106, 111, 117);
    box-shadow: 2px 5px 5px rgb(106, 111, 117);
}
#add {
    background-color: rgb(230, 213, 227);
    color: rgb(106, 111, 117);
    box-shadow: 2px 5px 5px rgb(106, 111, 117);
}

.countries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form {
    text-align: center;  
}

.image {
    text-align: center;
}


header {
    
}

#homeMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-content {
    
}

 footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

/* .trips{
} */

/* .home {}


