/* id for single elements, class for multiple */
body {
background-image: url(https://images.unsplash.com/photo-1588025632102-aa7acd130f5f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTV8fHBpbmslMjAlMjBza2llc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&q=20);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
border: 1px lightgrey;
}

h1 {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 60px;
}

h2, h3, h5 {
    text-align: center;
    color: rgb(61, 65, 69);
    font-family: 'Oxygen', sans-serif;
 }

h6 {
    text-align: center;
    color: slategrey;
    font-family: 'Oxygen', sans-serif;
}

a, a:link, a:visited {
    color: rgb(120, 94, 124);
    font-family: 'Oxygen', sans-serif;
}

a:hover, a:active {
    color: rgb(245, 167, 227);
    font-family: 'Oxygen', sans-serif;
}

button {
    background-color: rgb(230, 213, 227);
    color: rgb(106, 111, 117);
    box-shadow: 2px 5px 5px rgb(106, 111, 117);
}

#add {
    background-color: rgb(230, 213, 227);
    color: rgb(106, 111, 117);
    box-shadow: 2px 5px 5px rgb(106, 111, 117);
}

.travels {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0px 10px;
}

section.travels > div {
    margin: 10px 20px;
    padding: 10px;
}

.form {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    margin: 5px;
    padding: 5px;  
    transition: width 1s ease-in-out;
}

.image {
    text-align: center;
}

#homeMenu {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
#main-content{
    font-family: 'Oxygen', sans-serif;
}

 footer {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}
