/* id for single elements, class for multiple */
body {
background-image: url(https://images.unsplash.com/photo-1588025632102-aa7acd130f5f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTV8fHBpbmslMjAlMjBza2llc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&q=20);

background-size: cover;
background-repeat: no-repeat;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 h1, h2, h3, h6 {
    text-align: center;
}

#grid-container{
    
}

header {
    
}

#menu {
    
}

#main-content {
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

.form {
    text-align: center;  
}

.image {
    text-align: center;
}

/* .countries {
    display: flex;
    flex-flow: row wrap;
    flex: 33%; */

/* .trips{
} */

/* .home {}


