<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Travel Adventures</title>
</head>
<body>
    <div id="grid-container">
        <header>
            <h1>My Travel Adventures 🗺👣</h1>
        </header>
        <section>
            <nav id="menu">
                <ul>
                    <li><a href="/">Home Page</a></li>
                    <li>
                        Countries
                <ul>
                        <li><a href="/countries">Countries Visited</a></li>
                        <li><a href="/countries/new">Update Countries</a></li>
                </ul>
                    </li>
                    <li>
                        My Adventures
                <ul>
                        <li><a href="/cities">Reminisce </a></li>
                        <li><a href="/cities/new">Add a new trip</a></li>
                        <li><a href="/cities/future">My Bucket List </a></li>

                </ul>
                    </li>
                </ul>
            </nav>
        </section>
    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <h6>Created by Kirsten Nicholson</h6>
    </footer>
</div>
</body>
</html>