{%extends "base.html" %}

{% block content %}

<h2>Welcome to My Travel Adventures</h2>
<br>
<h3>Keep track of your adventures and reminisce about the good times!</h3>
<h3> Brainstorm ideas for your next trip...time to get planning! </h3>

<br>
<div class=image>
<img src="https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzV8fHRyYXZlbCUyMHBsYW5uaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="The first step is an idea">
</div>

{% endblock %}